.blogLeft {
	border-right: 1px solid #1D2238;
}

.blogText {
	border-bottom: 1px dashed #1D2238;
}

.blogText h5 {
	text-align: center;
	margin-bottom: 2em;
}

.blogText h3 {
	text-align: center;
}

.blogArchive {
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

#1D2238;
#EFEFEF;
